html {
    background-color:#020659;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    width: 375px;
    margin: 0 auto;
    background-color: #ffffff;
    text-align: center;
}

#trending {
    width: 375px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    overflow: scroll;
}

header {
    margin-top: 50px;
    padding-bottom: 30px;
    text-align: center;
    background: #030A8C;
    color: #ffffff;
}

header p {
    color: #ffffff;
}

nav {
    width: 375pd;
    background-color: #030A8C;
    top:0;
    position:absolute;
    z-index: -1;
    list-style-type: none;
}

nav ul {
    text-align: center;
}

footer p {
    font-size: 0.75em;
    text-align: center;
    color: #590242;
}

h1 {
    color: #ffffff;
}

h2, h3 {
    font-size: 1em;
    color: #590242;
}

p, dl, dd {
    font-size: 1em;
    color: #590242;
}

li {
    display: inline;
}

ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}
label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}

@media screen and (min-width:834px) {
    ul {
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    label span, input {
        display: none;
    }

    body{
        width:834px;
    }

    #trending {
        width: 834px;
    }
}